version: "3.9"

services:
  api:
    build: .
    ports:
      - "5000:5000"
    environment:
      - APP_ENV=production
      - DEFAULT_PERIOD=1mo
      - DEBUG=False
    restart: always
    command: python run.py
